@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #6209ae;
    --dark-grey: #6B7280;
    --off-white: #F3F4F6;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;

}

.hero {
    padding: 2rem;
    padding-top: 2 rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
    border-radius: 20rem;
}

.hero .hero-heading {
    text-align: center;
    color: var(--dark-grey);
    padding: 1rem;
}

.hero .heading-highlight {
    color: var(--primary-color);
}

.degree-text {
    text-align: center;
    font-size: small;
    color: var(--dark-grey);

}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.section {
    padding: 2rem;
    text-align: left;
}

.section h2 {
    text-align: center;

}

.section-p {
    padding: 2rem;
}

.ow {
    background-color: var(--off-white);
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.primarylink {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondarylink {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}

.non-bullet {
    list-style: none;
}

.inline-list {
    display: inline;
    padding: 1rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: white;
}

.navigation .navbrand {
    position: absolute;
}

/* .menu {
    position: relative;
} */


.navigation .nav-pills {
    position: relative;
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

.footer {
    background-color: var(--primary-color);
    padding: 0.5rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;

}

.footer ul {
    padding-inline-start: 0px;
}

.icon-main {
    width: 100px;
    padding-left: 1rem;
}
.icon {
    width: 30px;
}