@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}
.head {
    border-radius: rounded;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-head {
     margin: 10px;
}

.img {
    border-radius: 50%;
    border-color: black;
    height: 200px;
    width: 200px;
    align-self: center;
}

body {
    margin: 0%;
}

.linked {
    color: white;
}